<html> 

<head>
<title></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <h1>Upload the input file</h1>

    <form action="http://localhost:5000/predict" method="post" enctype="multipart/form-data">
      <p><input type="file" name="dataset" value="Upload"></p>
      <p>No. of clusters <input type = "number" name = "clusters" /></p>
     <input type="submit" value="Predict"> {% if label %} {{ label }} {% endif %}

    </form>

</body>

</html>